<footer class="bg-primary-500 text-white py-6">
    <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between">
        <div>
            <p class="font-bold">Bansal's</p>
            <p>G-5, Ground Floor, 59-EB, Scheme No. 140</p>
            <p>Indore - 452016 (Madhya Pradesh) India</p>
            <p>+91 731 4704498, +91 9993322223</p>
            <p>canuragbansal@gmail.com</p>
        </div>
        <div class="flex space-x-4 overflow-hidden mt-4 md:mt-0">
            <a href="#" class="bg-white text-lg  p-2 h-8 w-8 overflow-hidden mt rounded-full border hover:opacity-80">
                <img src="https://cdnjs.cloudflare.com/ajax/libs/simple-icons/6.13.0/twitter.svg" width="20" height="20" alt="Twitter">
            </a>
            <a href="#" class="bg-white text-lg  p-2 h-8 w-8 rounded-full border hover:opacity-80">
                <img src="https://cdnjs.cloudflare.com/ajax/libs/simple-icons/6.13.0/linkedin.svg" width="20" height="20" alt="LinkedIn">
            </a>
        </div>
    </div>
</footer>